head {
    text-align: center;
}
body {
    text-align: center;
    background-color: lightgrey;
}
h1 {
    background-color: orange;
}
.orange-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: orange;
    color: black;
    text-decoration: none;
    border: 2px solid orange;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .orange-button:hover {
    background-color: white;
    color: orange;
  }